// Pannel стили

.pannel {
  height: 100%;
}

.pannel__inner {
  max-height: 80vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  column-gap: 20px;
  aspect-ratio: 5 / 3;
  border-radius: 15px;
  padding: 40px;
  background-color: $background-color--bluegray;
}
