// Places стили

.places {
  z-index: 2;
  height: 100%;
  padding: 5px;
  max-height: 100%;
  overflow: hidden;
}

.places__inner {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.places__actual {
  height: 100%;
  max-height: 100%;
}
.places__list {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  max-height: 100%;
  overflow: auto;
}

