// Layout стили

.outer-wrapper {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 50px;
}

.inner-wrapper {
  height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr;
  row-gap: 50px;
}
