// Переменные SCSS

:root {
  --layout-indent: 20px;

  // Цвета

  --background-color--dark: #010912;
  --main-color--light: #fafcfe;
  --main-color--dark: #3d3d3d;
  --background-color--bluegray: #1e293b80;

  // Градиенты

  --main-gradient: linear-gradient(180deg, #0000004d, transparent 50%),
    linear-gradient(112deg, #a74da3, #6f40aa 50%, #486bb8);

  // Настройки шрифта

  --main-font-family: 'Montserrat';
  --secondary-font-family: 'Open Sans';

  --title-font--h1: 800 58px/60px var(--main-font-family);
  --title-font--h1-small: 800 40px/50px var(--main-font-family);
  --title-font--h2: 700 40px/57px var(--main-font-family);
  --title-font--h2-small: 700 30px/45px var(--main-font-family);
  --title-font--h3: 700 24px/32px var(--main-font-family);
  --title-font--h4: 500 20px/30px var(--main-font-family);
  --title-font--h5: 700 16px/24px var(--main-font-family);
  --title-font--h6: 600 14px/24px var(--main-font-family);
  --main-font: 400 20px/30px var(--secondary-font-family);

  // Letter spacing

  --letter-spacing--m: 0.2px;
  --letter-spacing--s: 0.1px;
}
